:root{

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}

html, body {
    width: 100%;
    height: 100%;
}

.bg-img{
    position: relative;
}

.nav-mid ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-mid li {
    display: inline;
    margin-right: 30px; 
    
}

.bg-img img{
    width: 100%;
    position: absolute;
    z-index: -1;
    background-position: top center;
    background-position: cover;
    background-size: cover;

}

body{
    max-height: 80vh;
    transform: 100;
    background-repeat: no-repeat;
    background-color: #000;
    color: aliceblue;
}

nav{
    margin: 0 24px;
    width: ;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


